.promo {
  position: relative;
  box-sizing: border-box;
  background: #073042;
  min-height: 574px;
  padding: 75px 70px 35px;
}

.promo__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo__title {
  margin: 0;
  max-width: 640px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
}

.promo__description {
  margin: 36px 0 0;
  color: #FFF;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 310px;
  opacity: 0.5;
}

.promo__image {
  max-width: 100%;
  max-height: 304px;
  max-width: 310px;
  flex-shrink: 0;
}

@media screen and (max-width: 1023px) {
  .promo {
    min-height: 850px;
    padding: 80px 44px 76px;
  }

  .promo__wrapper {
    flex-direction: column-reverse;
  }

  .promo__title {
    margin: 0 auto;
    margin-top: 48px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .promo__image {
    margin: 62px auto 0px;
  }
  .promo__description {
    max-width: 260px;
    margin: 22px auto 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    min-height: 637px;
    padding: 70px 10px 30px;
  }

  .promo__title {
    margin-top: 44px;
    max-width: 600px;
    font-size: 30px;
    line-height: 38px;
  }

  .promo__description {
    margin-top: 24px;
  }

  .promo__image {
    margin: auto;
    max-height: 206px;
  }
}
@media screen and (max-width: 360px) {
  .promo {
    min-height: 637px;
    padding: 70px 10px 30px;
  }

  .promo__title {
    margin-top: 44px;
    max-width: 600px;
    font-size: 20px;
    line-height: 28px;
  }

  .promo__description {
    margin-top: 13px;
}
}